.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  gap: 2rem;
  margin-bottom: 4rem;
}

.postsList {
  background-color: pink;
}
